.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}

.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-clr);
}

.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: var(--text-clr);
  cursor: pointer;
}

.events .event:nth-child(even) {
  background: transparent;
}

.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}

.events .event:hover i {
  color: var(--text-clr);
}

.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--secondary-clr);
  margin-left: 15px;
  pointer-events: none;
}

.events .event:hover .event-time {
  color: var(--text-clr);
}

.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}

.events .event:hover::after {
  display: flex;
}

.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-clr);
}
